<!doctype html>
<html
  class="no-js{% if request.design_mode %} shopify-design-mode{% endif %}"
  lang="{{ request.locale.iso_code }}"
>
  <head>
    <link rel="stylesheet" href="https://use.typekit.net/frt7fpk.css">
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'custom.css' | asset_url | stylesheet_tag }}

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {% comment %} This a way to wait for main content to load when navigating to a new page so that the view transitions can work consistently {% endcomment %}
    <link
      rel="expect"
      href="#MainContent"
      blocking="render"
      id="view-transition-render-blocker"
    >

    {%- render 'meta-tags' -%}
    {%- render 'fonts' -%}
    {%- render 'scripts' -%}
    {%- render 'theme-styles-variables' -%}
    {%- render 'color-schemes' -%}

    {% if request.design_mode %}
      {%- render 'theme-editor' -%}
    {% endif %}

    {{ content_for_header }}
    {%- if customer.metafields.sparklayer.authentication -%}
<!-- Anything inside here only shows for logged in customers-->
<!-- Start of SparkLayer core script-->
<script>
  window.sparkOptions = {
    siteId: "codeapparel",
    platform: "shopify",
    rootUrl: {{ routes.root_url | json }},
    language: {{ request.locale.iso_code | json }},
    accountRedirect: {
      urlRegex: /\/account/g,
      goTo: "/index", // page to redirect logged in users to
    },

    auth: {
      user: {{ customer.email | json }},
      token: {{ customer.metafields.sparklayer.authentication | json }},
    },
  };
</script>
    
   <script>
  document.addEventListener("DOMContentLoaded", function () {
    const h1 = document.querySelector("h1");

    if (h1) {
      const sparkPdp = document.createElement("spark-pdp");
      sparkPdp.setAttribute("parent-id", "{{ product.id }}");
      h1.insertAdjacentElement("afterend", sparkPdp);
    }
  });

      
</script>

<script async src="https://sparkcdn.io/sparkjs/codeapparel/live"></script>
<!-- End of SparkLayer core script-->
    <!-- SparkLayer Sample CSS Code -->
<style type="text/css">
  :root {
    /* Set the brand styling */
    --b2b-brand-color: #000; /* Main brand colour*/
    --b2b-brand-color-hover: #000; /* Main brand colour hover */
    --b2b-brand-font: Inter, sans-serif; /* Main brand font */
    --b2b-brand-font-heading: Inter, sans-serif; /* Main brand heading font */

    /* Update colours */
    --spark-default-body-color: #555555; /* Main body colour*/
    --spark-primary-color: #000000; /* Main title colour*/
    --spark-secondary-color: var(--b2b-brand-color); /* Main highlight colour*/
    --spark-link-color: var(--b2b-brand-color); /* Link colour*/

    /* Typefaces */
    --spark-font-default: var(--b2b-brand-font); /* Body typeface*/
    --spark-font-highlight: var(--b2b-brand-font-heading); /* Highlight typeface*/
    --spark-font-weight-default: 400; /* Default font weight*/
    --spark-font-weight-medium: 500; /* Medium font weight*/
    --spark-font-weight-heavy: 600; /* Bold font weight*/

    /* General */
    --spark-border-radius-default: 0; /* Default border radius*/
    --spark-drawer-max-width: 700px; /* Width of overlay*/
    --spark-drawer-max-width-wide: 1000px; /* Width of overlay in maximised view*/

    /* Font sizes */
    --spark-font-default-size: 14px; /* Default font size*/
    --spark-font-default-size-small: 14px; /* Default font size - small screens*/
    --spark-header-font: var(--b2b-brand-font-heading); /* Header typeface*/
    --spark-header-font-weight: 500; /* Header font weight*/
    --spark-h1-fontsize: 24px; /* Header 1 font size*/
    --spark-h2-fontsize: 22px; /* Header 2 font size*/
    --spark-h3-fontsize: 20px; /* Header 3 font size*/
    --spark-h4-fontsize: 16px; /* Header 4 font size*/
    --spark-h5-fontsize: 15px; /* Header 5 font size*/
    --spark-h6-fontsize: 14px; /* Header 6 font size*/

    --spark-pricing-fontsize: 22px; /* Font size of pricing*/
    --spark-pricing-font-weight: 500; /* Font weight of pricing*/
    --spark-pricing-fontsize-small: 14px; /* Font size of pricing on mobile*/

    --spark-product-code-fontsize: 16px; /* Font size of product code*/
    --spark-product-code-font-weight: 500; /* Font weight of product code*/
    --spark-product-code-fontsize-small: 14px; /* Font size of product code on mobile*/
    --spark-product-stockstatus-align: flex-start; /* Aligment of stock status for single variants*/

    /* Buttons */
    --spark-button-font-family: var(--b2b-brand-font-heading); /* Button typeface*/
    --spark-button-color: var(--b2b-brand-color); /* Default sutton colour*/
    --spark-button-color-highlight: var(--b2b-brand-color-hover); /* Default button colour hover*/
    --spark-button-large-color: var(--b2b-brand-color); /* Large button colour*/
    --spark-button-large-color-highlight: var(--b2b-brand-color-hover); /* Large button colour hover*/
    --spark-border-radius-button: 0; /* Button border radius*/
    --spark-button-font-weight: 600; /* Button font weight*/
    --spark-button-text-transform: none; /* Button text transform*/
    --spark-button-text-letter-spacing: 0; /* Button letter spacing*/
    --spark-button-padding: 1em 2.75em; /* Button padding*/
    --spark-button-small-font-size: 16px; /* Small button font size*/

    /* Tables */
    --spark-table-border-color: #CCCCCC; /* Table border colour*/
    --spark-table-header-background-color: #F1F1F1; /* Table header background*/
    --spark-table-header-text-color: #222222; /* Table header font colour*/
    --spark-table-header-font-weight: 500; /* Table header font weight*/

    /* Product Card */
    --spark-product-card-button-radius: 0; /* Button radius*/
    --spark-product-card-button-padding: 0.75em 1em; /* Button padding*/
    --spark-product-card-pricing-font-size: 15px; /* Pricng font size*/
    --spark-product-card-pricing-font-size-small: 14px; /* Pricng font size on mobile*/
    --spark-product-card-select-min-height: 0; /* Set a min-height for select menu*/

  }
    product-form-component,
  .announcement-bar,
  variant-picker,
  product-price {
    display: none !important
  }

  /* Product cards */

  product-price + div {
    width: 100% !important
  }
  spark-product-card {
    position: relative;
    z-index: 1;
    width: 100%;
    display: block
  }

</style>
<!-- End SparkLayer Sample CSS Code -->
{%- endif -%}

<!-- Hotjar Tracking Code for https://shopcodeapparel.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:6508564,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

  </head>

  <body class="page-width-{{ settings.page_width }} card-hover-effect-{{ settings.card_hover_effect }}">
    {% render 'skip-to-content-link', href: '#MainContent', text: 'accessibility.skip_to_text' %}
    <div id="header-group">
      {% sections 'header-group' %}
    </div>

    <main
      id="MainContent"
      class="content-for-layout"
      role="main"
      data-page-transition-enabled="{{ settings.page_transition_enabled }}"
      data-product-transition="{{ settings.transition_to_main_product }}"
      data-template="{{ template }}"
    >
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    {% render 'search-modal' %}

    {% # theme-check-disable ParserBlockingScript %}
    <script src="{{ 'critical.js' | asset_url }}"></script>
    {% # theme-check-enable ParserBlockingScript %}

    {% if settings.quick_add or settings.mobile_quick_add %}
      {% render 'quick-add-modal' %}
    {% endif %}
  </body>
</html>
